<div class="card" (click)="onCardClicked()">
  <img class="card-img-top" [src]="card.img" alt="" />
  <div class="card-body">
    <h6 class="card-title text-capitalize">{{ card.title }}</h6>
    <small class="card-text text-muted">#{{ card.id }}</small>
  </div>
</div>
