:host {
  /* Dette er selve app-card wrapperen */
}

.card {
  overflow: hidden;
  margin: 1rem 0;
  text-align: center;
  border: 2px solid #ffcc03;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    background: darken(white, 2%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15);
  }

  .card-body {
    padding: 1em;
  }

  h6 {
    margin: 0;
  }

  .card-img-top {
    padding: 1em;
  }

  small {
  }
}
