@import "../../../../styles.scss";

main {
  background: $primary;
  height: 100vh;
  color: white;

  .container {
    padding-top: 4em;

    img {
      margin-bottom: 2em;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
}
