<main>
  <div class="container align-self-center">
    <div class="row d-flex flex-column">
      <img
        class="align-self-center"
        src="../../../../assets/logo.png"
        width="200px"
        alt=""
      />
      <h1 class="display-4 text-center">
        Give your trainer a name to get started!
      </h1>
      <app-register-form></app-register-form>
    </div>
  </div>
</main>
