<main>
  <div class="container">
    <h1 class="text-center page-title text-capitalize">
      {{ trainerName }}'s Collection
    </h1>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let card of cards">
        <app-card (onClick)="handleCardClick($event)" [card]="card"> </app-card>
      </div>
    </div>
  </div>
</main>
