@import "../../../../styles.scss";
nav {
  background-color: $primary;

  svg {
    fill: $secondary;
    display: inline-block;
    vertical-align: middle;
  }
  a svg:hover {
    fill: darken($secondary, 5%);
  }
  .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 120px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    padding: 12px 16px 6px 16px;
    z-index: 1;

    p {
      color: #343a40;
      font-weight: 600;
      margin-bottom: 6px;
      cursor: pointer;
    }
  }
}
