<nav
  *ngIf="router.url !== '/register'"
  class="navbar navbar-dark px-5 space-between"
>
  <a class="navbar-brand" routerLink="/catalogue">
    <img src="/assets/logo.png" height="35" alt="" />
  </a>

  <div class="d-flex">
    <p *ngIf="trainerName" style="color: white; margin: 8px 10px 0 0">
      {{ trainerName }}
    </p>
    <div class="dropdown">
      <a [routerLink]="['/collection']">
        <svg
          width="40"
          height="40"
          class="d-inline-block align-top"
          viewBox="0 0 20 20"
          class="user-circle w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <div class="dropdown-content">
        <a [routerLink]="['/profile']">
          <p>Profile</p>
        </a>
        <a [routerLink]="['/register']">
          <p (click)="handleLogout()">Log out</p>
        </a>
      </div>
    </div>
  </div>
</nav>
