@import "../../../../styles.scss";

main {
  margin-top: 5em;
  padding-bottom: 3em;
}

.btn-primary {
  @include button-variant(
    $primary,
    darken($primary, 7.5%),
    darken($primary, 10%),
    lighten($primary, 5%),
    lighten($primary, 10%),
    darken($primary, 30%)
  );
}

.table td {
  vertical-align: middle;
}
.table th {
  vertical-align: middle;
}
.table p {
  vertical-align: middle;
  margin-bottom: 0;
  padding: 0.25em 0;
}

.alert-container {
  margin-top: 1em;
  width: 50%;
  position: absolute;
  left: 50%;
  height: 25px;

  .alert {
    text-align: center;
    position: relative;
    left: -50%;
  }
}

.badge {
  font-size: 40%;
  font-weight: 400;
  padding: 0.5em 0.8em;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 5px;
}

img {
  max-height: 400px;
}

section {
  margin-top: 2em;
}

.col-b {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* Thanks Dewald */
.grass {
  background-color: green;
}

.poison {
  background-color: purple;
}

.fire {
  background-color: #f53e28;
}

.electric {
  background-color: #f6e652;
}

.ground {
  background-color: saddlebrown;
}

.water {
  background-color: dodgerblue;
}

.ice {
  background-color: skyblue;
}

.flying {
  background-color: skyblue;
}

.bug {
  background-color: darkolivegreen;
}

.normal {
  background-color: dimgrey;
}
