<p *ngIf="!pokemon">Loading...</p>
<div class="container alert-container">
  <div *ngIf="successfulCollect" class="alert alert-success" role="alert">
    <strong class="text-capitalize">{{ pokemon.name }}</strong> successfully
    added to collection!
  </div>
  <div *ngIf="exists" class="alert alert-danger" role="alert">
    <strong class="text-capitalize">{{ pokemon.name }}</strong> already exists
    in your collection!
  </div>
</div>
<main *ngIf="pokemon">
  <!-- Profile -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <img
            class="img-fluid align-self-center"
            [src]="pokemon.img"
            [alt]="pokemon.name"
          />
        </div>
        <div class="col-12 col-md-6">
          <h1 class="text-uppercase">{{ pokemon.name }}</h1>
          <table class="table">
            <tbody>
              <tr>
                <th>Base<br />experience</th>
                <td>{{ pokemon.base_experience }}</td>
              </tr>
              <tr>
                <th>Height</th>
                <td style="width: 100%">{{ pokemon.height }} m</td>
              </tr>
              <tr>
                <th>Weight</th>
                <td>{{ pokemon.weight }} kg</td>
              </tr>
              <tr>
                <th>Abilities</th>
                <td>
                  <tr
                    class="text-capitalize"
                    *ngFor="let ability of pokemon.abilities"
                  >
                    {{
                      ability.ability.name
                    }}
                  </tr>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="onCollect()"
          >
            Collect {{ pokemon.name }}
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Base stats -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h2>
                Base stats
                <span
                  class="badge badge-primary text-uppercase"
                  [ngClass]="type.type.name"
                  *ngFor="let type of pokemon.types"
                  >{{ type.type.name }}</span
                >
              </h2>
            </div>
          </div>

          <table class="table">
            <tbody>
              <tr *ngFor="let stat of pokemon.stats">
                <th class="text-capitalize text-right" style="width: 15%">
                  {{ stat.stat.name }}
                </th>
                <td style="width: 5px">
                  <p class="text-muted">{{ stat.base_stat }}</p>
                </td>
                <td>
                  <div class="progress" style="height: 20px">
                    <div
                      class="progress-bar bg-dark text-left pl-2"
                      role="progressbar"
                      [style.width]="stat.base_stat + '%'"
                      [attr.aria-valuenow]="stat.base_stat"
                      aria-valuemin="0"
                      aria-valuemax="250"
                    ></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- Moves -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Moves</h2>
        </div>
      </div>
      <div class="row">
        <div
          class="col-3 col-b text-capitalize"
          *ngFor="let move of pokemon.moves"
        >
          {{ move.move.name }}
        </div>
        <div class="col col-b"></div>
      </div>
    </div>
  </section>
</main>
