<form [formGroup]="registerForm">
  <div class="form-group d-flex justify-content-center">
    <div class="input-container">
      <input
        class="form-control"
        type="text"
        id="trainer-name"
        placeholder="Enter your trainer name..."
        formControlName="trainerName"
        required
        minlength="3"
        (keyup.enter)="onRegisterClick()"
      />
      <img
        src="../../../../assets/chevron_right.svg"
        alt=""
        (click)="onRegisterClick()"
      />
    </div>
  </div>
  <div *ngIf="submission.invalid && (submission.dirty || submission.touched)">
    <p *ngIf="submission.errors.required" class="text-center">
      You have to give your trainer a name
    </p>
    <p *ngIf="submission.errors.minlength" class="text-center">
      The name have to be atleast 3 characters long
    </p>
  </div>
</form>
